---
import Hero from '@/components/Hero.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='Astro Zentry'>
  <main class='relative min-h-screen w-screen overflow-x-hidden'>
    <Hero />
  </main>
</MainLayout>
