---
import { Icon } from 'astro-icon/components';

interface Props {
  id: string;
  title: string;
  leftIcon?: string;
  containerClass: string;
}

const { id, title, leftIcon, containerClass } = Astro.props;
---

<button
  id={id}
  class={`group relative z-10 w-fit cursor-pointer overflow-hidden rounded-full bg-violet-50 px-7 py-3 text-black ${containerClass}`}
>
  <Icon name={leftIcon} />
  <span
    class='relative incline-flex overflow-hidden font-general text-xs uppercase'
  >
    <div>
      {title}
    </div>
  </span>
</button>
